<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/ga</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="com/lsxy/ga/model/Chapter.hbm.xml"/>
    <mapping resource="com/lsxy/ga/model/Course.hbm.xml"/>
    <mapping resource="com/lsxy/ga/model/GaModle.hbm.xml"/>
    <mapping resource="com/lsxy/ga/model/KnowledgePoint.hbm.xml"/>
    <mapping resource="com/lsxy/ga/model/Policy.hbm.xml"/>
    <mapping resource="com/lsxy/ga/model/Section.hbm.xml"/>
    <mapping resource="com/lsxy/ga/model/Test.hbm.xml"/>
    <mapping resource="com/lsxy/ga/model/TestQuestion.hbm.xml"/>
    <mapping resource="com/lsxy/ga/model/Type.hbm.xml"/>
    <mapping resource="com/lsxy/ga/model/User.hbm.xml"/>
  </session-factory>
  
</hibernate-configuration>

